@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;

.article-tile {
	aspect-ratio: 1 / 1;
	display: flex;
	flex-direction: column;
	background-color: white;
	overflow: hidden;
	padding: 7%;
	border-radius: vars.$radius-2;

	@include mix.hover-shadow();
}

.article-tile__top {
	font-size: 1.2rem;
	line-height: 1.6rem;
	color: vars.$grayColor-4;
	margin-bottom: 1rem;
}

.article-tile__header {
	font-size: 2rem;
	line-height: 2.6rem;
	font-weight: 500;
	text-wrap: balance;
}

.article-tile__description {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	font-size: 1.3rem;
	line-height: 1.9rem;
	color: vars.$grayColor-4;
	text-wrap: balance;
	text-overflow: ellipsis;
	-webkit-line-clamp: 4;
	overflow: hidden;
	margin-top: 0.8rem;
}
