@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;
@use '@/styles/inherit' as inh;

.books-page-content {
	flex-grow: 1;
	display: grid;
	gap: 1.4rem;
	grid-template-areas:
            "books"
            "book"
            "content";

	@include mix.page-width(500px) {
		grid-template-areas:
            "books book"
            "content content";
		gap: 2.2rem;
	}

	@include mix.page-width(860px) {
		display: flex;
		gap: 3rem;
	}
}

.books-page-content__books {
	flex-grow: 1;
	grid-area: books;
	max-width: 290px;
}

.books-page-content__book {
	flex-grow: 1;
	grid-area: book;
	max-width: 290px;
}

.books-page-content__content {
	flex-grow: 1;
	grid-area: content;
}
