@use '@/styles/variables' as vars;

.main-page-features {
	display: flex;
	gap: 2rem;
	justify-content: flex-start; /* Default to left-aligned for scrolling */
	width: 100%;
	max-width: 100%; /* Ensure it doesn't exceed parent's width */
	overflow-x: auto; /* Enable horizontal scrolling */
	flex-wrap: nowrap; /* Prevent items from wrapping */

	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */

	&::-webkit-scrollbar {
		display: none;  /* Chrome, Safari, Opera*/
	}

	@media (min-width: 1350px) {
		justify-content: center; /* Center when enough space is available */
	}
}

.main-page-feature {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 336px;
}

.main-page-feature__image {

}

.main-page-feature__text {
	font-size: 2rem;
	line-height: 2.8rem;
}
.main-page-feature__text--bold {
	font-weight: 600;
}

.main-page-feature__sign {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	font-size: 2rem;
	line-height: 1;
	color: vars.$grayColor-5;
	width: 6rem;
	height: 6rem;
	margin-top: calc(336px / 2 - 6rem / 2);
	border: 1px solid vars.$grayColor-2;
	border-radius: 50%;
}
