@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;

.reading-root {
	flex-grow: 1;
	display: grid;
	grid-template-rows: 1fr 1fr;
	overflow: hidden;

	@include mix.page-width(700px) {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr;
	}
}

.reading-root__content {
	display: flex;
	flex-direction: column;
	overflow: auto;
	padding: 0 var(--reading-page-chapter-horizontal-padding) 0 0;
}

.reading-root__analysis {
	overflow: auto;
	padding: 16px var(--reading-page-chapter-horizontal-padding);
}
