@use '@/styles/variables' as vars;

.page-header {
	font-size: clamp(4rem, 10vw, 8rem);
	line-height: clamp(4.4rem, 10.4vw, 8.4rem);
	font-weight: 600;
	font-style: italic;
}

.page-header__subheader {
	font-size: clamp(2rem, 2.8vw, 2.8rem);
	line-height: clamp(3rem, 3.6vw, 3.6rem);
	font-style: italic;
	color: vars.$grayColor-3;
	margin-top: .5rem;
}
