//@import 'styles/variables';
//@import 'styles/mixins';
//@import 'styles/inherit';

/*.wrapper {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}*/

/*.translationsList {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	@include paragraph-giant;
}*/
