//@use '@/styles/variables' as vars;
//@use '@/styles/inherit' as inh;
//@use '@/styles/mixins' as mix;

/*.books-mobile-navigation {
	display: flex;
	justify-content: space-between;

	@include mix.page-width(vars.$books-desktop-width) {
		background-color: #0076DE;
		display: none;
	}
}*/

/*.books-mobile-navigation__button {
	font-size: 1.8rem;
	line-height: 2.4rem;
	border-bottom: 1px solid transparent;
}*/
/*.books-mobile-navigation__button--link {
	@include inh.link();
	color: vars.$linkColor-2;
	cursor: pointer;
}*/
/*.books-mobile-navigation__button--active {
	color: vars.$accentColor-2;
}*/
