//@import 'styles/variables';
//@import '../../../../../styles/mixins';
//@import '../../../../../styles/inherit';

/*.textarea {
	width: 100%;
	@include paragraph-giant();
	field-sizing: content;

	&::placeholder {
		color: $grayColor-2;
	}

	&:focus {
		outline: none;
	}
}*/

/*.greenText {
	color: $greenColor-3;
}*/

/*.redText {
	color: $redColor-2;
}*/
