@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;
@use '@/styles/inherit' as inh;

.art-list {
	position: relative;
	list-style: none;

	padding: 0 0 0 4.4rem;
	margin-top: 0.4rem;

	li {
		position: relative;
		margin-top: 0.8rem;
	}
	li::before {
		position: absolute;
	}
}

// Ненумерованный список
ul.art-list {
	li {
		&::before {
			content: '';
			top: 0.6em;
			left: -1.6rem;
			width: 0.9rem;
			height: 0.9rem;
			background-color: vars.$textColor;
			border-radius: 50%;
		}
	}
}

// Нумерованный список
ol.art-list {
	counter-reset: li;

	li {
		&::before {
			content: counter(li);
			counter-increment: li;
			top: 0.2em;
			left: -2.2rem;
			font-weight: 700;
		}
	}
}
