@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;
@use '@/styles/inherit' as inh;

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.translationsList {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	@include inh.paragraph-giant;
}
