@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;
@use '@/styles/inherit' as inh;
@use 'sass:color';

.main-menu__ul {
	display: flex;
	gap: 2.2rem;
	font-size: 1.8rem;
	line-height: 2.4rem;
}

.main-menu__link--current {
	color: vars.$accentColor-2;
	border-bottom-color: color.adjust(vars.$accentColor-1, $saturation: 12%);

	&:hover {
		color: vars.$accentColor-2;
		border-bottom-color: color.adjust(vars.$accentColor-1, $saturation: 20%);
	}
}
