@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;
@use '@/styles/inherit' as inh;

.main-menu__ul {
	display: flex;
	gap: 2.2rem;
	font-size: 1.8rem;
	line-height: 2.4rem;
}

.main-menu__link--current {
	color: vars.$orangeColor-2;
	border-bottom-color: darken(vars.$orangeColor-1, 12%);

	&:hover {
		color: vars.$orangeColor-2;
		border-bottom-color: darken(vars.$orangeColor-1, 20%);
	}
}
