//@import '../../../../../../styles/variables';
//@import '../../../../../../styles/mixins';

/*.grammar-widget {
	overflow: hidden;
	border: 1px solid transparent;
	border-radius: vars.$radius-1;

	&--gray {
		border-color: vars.$grayColor-2;
	}
	&--orange {
		border-color: vars.$orangeColor-1;
	}
	&--green {
		border-color: $greenColor-1;
	}
}*/

/*.grammar-widget__header-wrapper {
	line-height: 1rem;
}*/

/*.grammar-widget__header {
	display: inline-block;
	font-size: 1.0rem;
	line-height: 1.4rem;
	text-transform: uppercase;
	padding: 0.2rem 0.5rem;
	border-radius: 0 0 $radius-1 0;

	&--gray {
		background-color: vars.$grayColor-2;
		border-color: vars.$grayColor-4;
	}
	&--orange {
		color: vars.$orangeColor-2;
		background-color: vars.$orangeColor-1;
		border-color: vars.$orangeColor-2;
	}
	&--green {
		color: $greenColor-2;
		background-color: $greenColor-1;
		border-color: vars.$greenColor-3;
	}
}*/

/*.grammar-widget__content {
	display: grid;
	gap: 1rem;
	padding: 0.8rem 0.6rem;
}*/
