@use "@/styles/variables" as vars;
@use "@/styles/inherit" as inherit;


.details-block-wrapper__switcher {
	position: sticky;
	top: 0;
	z-index: 3;
}

.details-block-wrapper__content {
	flex-grow: 1;
	display: flex;
	padding: 1.4rem 0;
}
