//@import 'styles/variables';

/*.level-article {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	background-color: $textColor;
	container-type: inline-size;
	padding: 1.2rem 1.4rem;
	border-radius: $radius-2;

	@include page-width(500px) {
		padding: 2.2rem 2.6rem;
	}

	@include page-width(700px) {
		padding: 4rem 5rem;
	}
}*/

/*.level-article__content {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
	padding: 4rem 0;

	@include page-width(500px) {
		padding: 4rem 2rem;
	}

	@include page-width(700px) {
		padding: 5rem 4rem;
	}

	@include page-width(1000px) {
		padding: 6rem 10%;
	}
}*/

/*.level-article__star {
	display: inline-block;
	margin: 0 1.2rem;
}*/
