@use '@/styles/mixins' as mix;

.tariff-rules {
	margin-top: 4rem;
}

.tariff-rules__header {
	font-size: 2.2rem;
	line-height: 2.8rem;
	font-weight: 600;
}

.tariff-rules__content {
	display: grid;
	gap: .8rem;
	margin-top: 1rem;
}

.tariff-rules__paragraph {
	font-size: 1.5rem;
	line-height: 2.3rem;
}
