//@use '@/styles/variables' as vars;
//@use '@/styles/mixins' as mix;

/*.close-button {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.1rem;
	height: 3.1rem;
	border-radius: 50%;
}*/
