@use '@/styles/variables' as vars;

.styled-markdown {
	font-size: 1em;
	line-height: 1.6em;
	word-break: break-word;

	h1,
	h2,
	h3,
	h4 {
		margin: 0.75em 0 0.5em;
		line-height: 1.2;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.8em;
	}

	h3 {
		font-size: 1.7em;
	}

	p {
		margin: 0.5em 0;
	}

	ul ul {
		padding-left: 1.25em;
	}

	ul {
		display: grid;
		gap: .8em;
	}

	li > ul {
		margin-top: .4em;
	}

	a {
		text-decoration: underline;
	}

	strong {
		font-weight: 500;
	}

	code {
		padding: 0.1em 0.25em;
		border-radius: vars.$radius-1;
		background: vars.$grayColor-1;
	}

	pre {
		margin: 0.75em 0;
		padding: 0.75em;
		overflow: auto;
		border-radius: 0.5em;
		background: vars.$grayColor-1;
	}

	pre code {
		padding: 0;
		background: transparent;
		font-size: 0.9em;
	}

	blockquote {
		margin: 0.75em 0;
		padding: 0.25em 0.75em;
		background: white;
		border-radius: vars.$radius-2;
	}

	table {
		width: 100%;
		border-collapse: collapse;
		margin: 0.75em 0;
		font-size: 0.95em;
	}

	th,
	td {
		border: 1px solid vars.$grayColor-1;
		padding: 0.4em 0.5em;
		text-align: left;
		vertical-align: top;
	}

	th {
		font-weight: 600;
		background: vars.$grayColor-1;
	}
}
