@use '@/styles/variables' as vars;

/*.book-button {
	container-type: inline-size;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.6rem;
}*/

/*.book-button__author {
	color: vars.$grayColor-4;
}*/

/*.book-button__label {
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1.6rem;
	border-radius: vars.$radius-1;
	padding: 0.3rem 0.8rem;
}*/
/*.book-button__lighter {
	color: vars.$grayColor-4;
	background-color: vars.$grayColor-1;
}*/
/*.book-button__label--darker {
	color: vars.$grayColor-5;
	background-color: vars.$grayColor-2;
}*/
