@import '@/styles/variables';
@import '@/styles/mixins';
@import '@/styles/inherit';

.ex-dictionary-word {

}

.ex-dictionary-word__note {
	font-size: 1.6rem;
	line-height: 2.0rem;
	color: $grayColor-3;
	padding: 0 0 0.4rem 0;
}

.ex-dictionary-word__text {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1.4rem;
	font-size: 2rem;
	line-height: 2.4rem;
}

.ex-dictionary-word__eng {
	display: inline-block;
	color: $grayColor-4;
}

.ex-dictionary-word__rus {

}

.ex-dictionary-word__transcription {
	display: inline-block;
	font-family: Arial, sans-serif;
	font-size: 1.8rem;
	line-height: 2rem;
	background-color: $grayColor-1;
	padding: 0.2rem 0.5rem;
	border-radius: $radius-1;
}
