@use "@/styles/variables" as vars;

.main-page-header {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 70rem;
	margin: 6rem 0 0 0;
}
.main-page-header__header {
	color: vars.$linkColor-2;
}

.main-page-header__description {
	font-size: clamp(2.2rem, 5vw, 3rem);
	line-height: clamp(3rem, 6vw, 4rem);
	background-color: white;
	padding: 1rem 2rem;
	border-radius: vars.$radius-2;
}

