//@import "styles/variables";

/*.wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 70rem;
	margin: 6rem 0 0 0;
}*/
/*.header {
	color: $blueColor-2;
}*/

/*.description {
	font-size: clamp(2.4rem, 5vw, 3.6rem);
	line-height: clamp(3.2rem, 6vw, 4.6rem);
	background-color: white;
	padding: 1rem 2rem;
	border-radius: $radius-2;
}*/

