@use '@/styles/variables' as vars;

.markdown__flashed-word {
	position: relative;
	display: inline-block;

	&:before {
		content: '';
		position: absolute;
		top: 1px;
		left: -2px;
		bottom: 1px;
		right: -2px;
		z-index: 1;
		border-radius: 0.22em;
	}

		&:before {
			background-color: vars.$accentColor-2;
		}

	span {
		position: relative;
		z-index: 2;
		color: white;
	}
}
