@use '@/styles/variables' as vars;

.markdown__flashed-word {
	position: relative;
	display: inline-block;

	&:before {
		content: '';
		position: absolute;
		top: 0px;
		left: -4px;
		bottom: 0px;
		right: -4px;
		z-index: 1;
		border-radius: 0.22em;
	}

		&:before {
			background-color: #ffee5a;
		}

	span {
		position: relative;
		z-index: 2;
	}
}
