.exercises-analysis-for-translation {

}

.exercises-analysis-for-translation__content {
	margin-top: 1.5rem;
}


.exercises-analysis-for-translation__content {
	margin-top: 1.5rem;
}

.exercises-analysis-for-translation__translation {
	margin-bottom: 1.5rem;
}
