//@import '../../../../../styles/variables';
//@import '../../../../../styles/mixins';

/*.selected-word-general {
	position: sticky;
	top: 1.8rem;
	left: 0;
	display: grid;
	gap: 2rem;
	max-height: calc(100dvh - 4rem);
	overflow: auto;
}*/

/*.selected-word-general__block {
	display: grid;
	gap: 0.3rem;
}*/

/*.selected-word-general__header {
	font-size: 1.5rem;
	line-height: 2.1rem;
	font-weight: 600;
}*/
