@import '@/styles/variables';
@import '@/styles/mixins';
@import '@/styles/inherit';

.wrapper {
	display: flex;

	&--horizontal {
		flex-direction: row;
	}

	&--vertical {
		flex-direction: column;
		justify-content: stretch;

		& > * {
			width: 100%;
			box-sizing: border-box;
		}
	}
}

.button {
	color: $grayColor-4;
	cursor: pointer;
	padding: .4rem 1rem;
	border: 1px solid white;
	border-radius: $radius-1;
	transition: color 0.2s;

	&:hover {
		color: $textColor;
		border-color: $grayColor-2;
	}

	&--current {
		color: $textColor;
		cursor: default;
		border-color: $grayColor-3;

		&:hover {
			color: $textColor;
			border-color: $grayColor-3;
		}
	}
}



