@use "@/styles/variables" as vars;

.details-sentence {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.details-sentence__sentences {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.details-sentence__sentence {
	font-size: 1.8rem;
	line-height: 2.4rem;
}

.details-sentence__translation {
	font-size: 1.8rem;
	line-height: 2.4rem;
	color: vars.$grayColor-5;
}

.details-sentence__buttons {
	display: flex;
	gap: 1rem;
}
