@use '@/styles/mixins' as mix;
@use '@/styles/variables' as vars;

.what-will-you-get-after-analysis-block {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.what-will-you-get-after-analysis-block__top-block {
	display: flex;
	flex-direction: column;
	gap: 3rem;

	@include mix.page-width(900px) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}

.what-will-you-get-after-analysis-block__top-block-img {
	width: 100%;
	max-width: 450px;
	overflow: hidden;
	margin-top: 1rem;
	border-radius: vars.$radius-1;
	box-shadow: vars.$shadow-1;
}
