@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;
@use '@/styles/inherit' as inh;

.eng-translate-input {
	width: 100%;
	field-sizing: content;
	@include inh.paragraph-giant();

	&::placeholder {
		color: vars.$grayColor-2;
	}

	&:focus {
		outline: none;
	}
}

.eng-translate-input--green-text {
	color: #008100;
}

.eng-translate-input--red-text {
	color: vars.$dangerColor-2;
}
