@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;
@use '@/styles/text-inherit' as textInh;

.exercise-content-rus-sentence {

}

.exercise-content-rus-sentence__note {
	color: vars.$grayColor-3;
	@include textInh.paragraph-14();
}

.exercise-content-rus-sentence__text {
	margin-top: .2rem;
	@include textInh.paragraph-20();
}

.exercise-content-rus-sentence__text--gray {
	color: vars.$grayColor-3;
}
