@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;
@use '@/styles/inherit' as inh;

.exercise-content-rus-sentence {

}

.exercise-content-rus-sentence__note {
	color: vars.$grayColor-3;
	@include inh.paragraph-small;
}

.exercise-content-rus-sentence__text {
	margin-top: .2rem;
	@include inh.paragraph-giant;
}

.exercise-content-rus-sentence__text--gray {
	color: vars.$grayColor-3;
}
