@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;
@use '@/styles/inherit' as inh;

.generalWrapper {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;

	@include mix.page-width(600px) {
		width: 40%;
		max-width: 27rem;
	}
}

.partWrapper {
	display: flex;
	flex-direction: column;
	gap: .2em;
}

.partHeader {
	@include inh.header-4();
}
