@use '@/styles/variables' as vars;

.book-author-and-name {
	display: flex;
	flex-wrap: wrap;
	column-gap: 2.8rem;
	row-gap: .8rem;
	font-size: 1.3rem;
	line-height: 1.7rem;
	padding: 8px var(--reading-page-chapter-horizontal-padding);
	border-bottom: 1px solid vars.$grayColor-1;
}

.book-author-and-name__left {
	color: vars.$grayColor-5;
}

.book-author-and-name__right {
}
