@use '@/styles/variables' as vars;

.book-author-and-name {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.3rem;
	line-height: 1.7rem;
	border-bottom: 1px solid vars.$grayColor-1;
}

.book-author-and-name__left,.book-author-and-name__right  {
	padding-top: 8px;
	padding-bottom: 8px;
}
.book-author-and-name__left {
	color: vars.$grayColor-5;
	padding-left: vars.$reading-page-chapter-horizontal-padding;
	padding-right: 12px;
}

.book-author-and-name__hr {
	width: 1px;
	background-color: vars.$grayColor-1;
}

.book-author-and-name__right {
	padding-left: 12px;
	padding-right: 12px;
}
