@use "@/styles/variables" as vars;

.analysis {
	position: sticky;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 2rem;
	max-height: 50dvh;
	background-color: white;
	overflow: auto;
	padding: 1.5rem 0 1.5rem 0;
	margin-top: 2rem;
	border-top: 1px solid vars.$grayColor-1;
}
