@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;
@use '@/styles/inherit' as inh;

.switcher {
	position: relative;
	gap: .2rem;
	background-color: vars.$grayColor-2;
	padding: .3rem;
	border-radius: .8rem;
}

.switcher--fit {
	display: flex;
	width: fit-content;
}
.switcher--block {
	display: grid;
}

.switcher--fit.switcher--horizontal {
	flex-direction: row;
}
.switcher--fit.switcher--vertical {
	flex-direction: column;
	justify-content: stretch;

	& > * {
		width: 100%;
		box-sizing: border-box;
	}
}

.switcher--block.switcher--horizontal {
	grid-auto-flow: column;
}
.switcher--block.switcher--vertical {
	grid-auto-flow: row;
}

.switcher--wide-paddings {
	.switcher__button {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

.switcher__button {
	font-size: 1.5rem;
	line-height: 1.9rem;
	color: vars.$grayColor-6;
	background-color: transparent;
	padding: .5rem 1rem;
	border-radius: vars.$radius-1;

	&:hover, &:focus {
		color: vars.$textColor;
	}
}

.switcher__button--current, .switcher__button--current:disabled {
	color: vars.$textColor;
	background-color: white;
	box-shadow:
		0 1px 0 rgba(0, 0, 0, .05),
		0 0 2px rgba(0, 0, 0, .15);

	&:hover {
		color: vars.$textColor;
		background-color: white;
	}
}
