@use '@/styles/variables' as vars;

.phrase-analysis-success {

}

.phrase-analysis-success__translation {
	font-size: 2.2rem;
	line-height: 2.6rem;
	margin-top: 4px;
}

.phrase-analysis-success__analysis {
	font-size: 1.6rem;
	line-height: 2.6rem;
	margin-top: 1rem;
}

.phrase-analysis-success__examples {
	display: flex;
	flex-direction: column;
	gap: .6rem;
	margin-top: 1rem;
}

.phrase-analysis-success__examples-header {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 600;
	color: vars.$grayColor-4;
	text-transform: uppercase;
}

.phrase-analysis-success__example {
	font-size: 1.6rem;
	line-height: 2.6rem;
}
.phrase-analysis-success__example-en {
	font-weight: 500;
}
.phrase-analysis-success__example-ru {
	color: rgb(100, 100, 100);
}

