@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;
@use '@/styles/inherit' as inh;

$CN: art-note;

.#{$CN} {
	@include inh.content-wrapper();

	&--gray {
		background-color: vars.$grayColor-1;
	}

	&--yellow {
		color: white;
		background-color: vars.$accentColor-2;
	}
}
