//@use '@/styles/variables' as vars;

.chapter-text {
	flex-grow: 1;
	font-size: 2.2rem;
	line-height: 2;
}

/*.chapter-text__sentence {

}*/

/*.chapter-text__sentence--selected {
	color: vars.$linkColor-2;
}*/

/*.chapter-text__word {
	position: relative;
	display: inline-block;
	cursor: pointer;
	z-index: 2;
	border-radius: 0.22em;

	&:hover {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: -2px;
			bottom: 0;
			right: -2px;
			z-index: 1;
			border-radius: 0.22em;
			border: 1px solid vars.$grayColor-3;
		}
	}
}*/

/*.chapter-text__word--selected {
	color: vars.$linkColor-2;
	background-color: vars.$linkColor-1;
}*/
