@use '@/styles/mixins' as mix;
@use '@/styles/variables' as vars;

.watching-text-root {
	flex-grow: 1;
	display: flex;
	flex-direction: column;

	@include mix.page-width(vars.$watching-desktop-width) {
		flex-direction: row;
	}
}

.watching-text-root__blocks {
	display: flex;
	flex-grow: 1;
}

.watching-text-root__item {
	display: none;

	@include mix.page-width(vars.$watching-desktop-width) {
		display: flex;
	}
}

.watching-text-root__item--visible {
	display: flex;
}

.watching-text-root__item--text {
	@include mix.page-width(vars.$watching-desktop-width) {
		max-width: 450px;
		width: 50%;
	}
}

.watching-text-root__item--details {
	overflow: auto;
	padding: 2rem;

	@include mix.page-width(vars.$watching-desktop-width) {
	}
}
