@use '@/styles/mixins' as mix;
@use '@/styles/variables' as vars;

.watching-text-root {
	flex-grow: 1;
	display: flex;
	flex-direction: column;

	@include mix.page-width(vars.$watching-desktop-width) {
		gap: 2rem;
	}
}

.watching-text-root__blocks {
	flex-grow: 1;
	position: relative;
	display: flex;
	overflow: hidden;

	@include mix.page-width(vars.$watching-desktop-width) {
		align-items: flex-start;
		gap: 3rem;
	}
}

.watching-text-root__item {
	flex-grow: 1;
	display: none;
	height: 100%;

	@include mix.page-width(vars.$watching-desktop-width) {
		position: sticky;
		top: 1rem;
		left: 0;
		display: block;
		width: 33%;
	}
}

.watching-text-root__item--always-visible {
	display: flex;
}

.watching-text-root__item--text {
	@include mix.page-width(vars.$watching-desktop-width) {
		max-width: 450px;
		width: 50%;
	}
}

.watching-text-root__item--details {
	@include mix.page-width(vars.$watching-desktop-width) {
		//max-width: 600px;
	}
}
