//@import '@/styles/variables';
//@import '@/styles/mixins';

/*.parts-of-speech {
	display: grid;
	gap: .5rem;
	margin-top: 1.2rem;
}*/

/*.part-of-speech {
	display: flex;
	align-items: center;
}*/

/*.part-of-speech__title {
	font-size: 1.3rem;
	line-height: 1.8rem;
	color: $grayColor-3;
	width: 9rem;
}*/

/*.part-of-speech__name {
	font-size: 1.3rem;
	line-height: 1.5rem;
	background-color: $grayColor-1;
	padding: 2px 5px;
	border-radius: $radius-1;
}*/

