//@use '@/styles/variables' as vars;
//@use '@/styles/mixins' as mix;

/*.parts-of-speech {
	display: grid;
	gap: .5rem;
	margin-top: 1.2rem;
}*/

/*.part-of-speech {
	display: flex;
	align-items: center;
}*/

/*.part-of-speech__title {
	font-size: 1.3rem;
	line-height: 1.8rem;
	color: vars.$grayColor-3;
	width: 9rem;
}*/

/*.part-of-speech__name {
	font-size: 1.3rem;
	line-height: 1.5rem;
	background-color: vars.$grayColor-1;
	padding: 2px 5px;
	border-radius: vars.$radius-1;
}*/

