//@import '../../../../styles/variables';

/*.story-block {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
	align-items: start;
	justify-items: flex-start;

	font-size: 2.4rem;
	line-height: 4rem;
	background-color: white;
	padding: 2rem 3rem;
	border-radius: $radius-2 0 0 $radius-2;
}*/

/*.story-block__word {
	position: relative;
	cursor: pointer;
	z-index: 2;

	&::after {
		content: "";
		position: absolute;
		top: -2px;
		bottom: -2px;
		left: -3px;
		right: -3px;
		z-index: -1;
		border-radius: $radius-1;
	}

	&:hover::after {
		background-color: $grayColor-1;
	}

	&--selected {
		color: white;

		&::after {
			background-color: $blueColor-2 !important;
		}
	}
}*/
