@use "@/styles/mixins" as mix;
@use "@/styles/variables" as vars;

.page-wrapper {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

@mixin side-offset {
	--offset: 1rem;
	padding-left: var(--offset);
	padding-right: var(--offset);

	@include mix.page-width(400px) {
		--offset: 4%;
	}
}

.page-wrapper__top {
	padding-top: 1.7rem;
	padding-bottom: 3rem;
	@include side-offset;
}

.page-wrapper__middle {
	flex-grow: 1;
	display: flex;
	@include side-offset;
}

.page-wrapper__bottom {
	padding-top: 4rem;
	padding-bottom: 3rem;
	@include side-offset;
}

.page-wrapper__legal-text-wrapper {
	display: inline-flex;
	column-gap: 2rem;
	row-gap: .6rem;
	flex-wrap: wrap;
	font-size: 1.5rem;
	line-height: 1.9rem;
	color: vars.$grayColor-5;
}
