.sentence-analysis__top {

}

.sentence-analysis__translate-phrase-block {
	display: flex;
	flex-direction: column;
	gap: .6rem;
	align-items: flex-start;
	margin-top: 1rem;
}

.sentence-analysis__bottom {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	overflow: auto;
	margin-top: 2.5rem;
}
