//@use "@/styles/variables" as vars;
//@import "@/styles/inherit";

/*.link-logo-default {
	.logo-with-text__name {
		color: vars.$orangeColor-2;
		border-bottom: 1px solid transparent;
	}
}*/

/*.link-logo {
	.logo-with-text__name {
		color: vars.$blueColor-2;
		border-bottom: 1px solid rgba($blueColor-2, .2);
		transition: color .2s, border-bottom-color .2s;
	}

	&:hover {
		.logo-with-text__name {
			color: saturate($blueColor-2, 100%);
			border-bottom-color: rgba($blueColor-2, .35);
		}
	}
}*/
