@use '@/styles/variables' as vars;

.text-input {

}

.text-input__input {
	background-color: white;
	padding: 0.7rem 1rem;
	border: 1px solid vars.$grayColor-2;
	border-radius: vars.$radius-1;

	&::placeholder {
		color: vars.$grayColor-3;
	}

	&:hover {
		border-color: vars.$grayColor-3;
	}

	&:focus {
		border-color: vars.$grayColor-5;
		outline: 3px solid vars.$grayColor-2;
	}
}

.text-input__input--size-small {
	font-size: 1.4rem;
	line-height: 1.8rem;
	padding: 0.3rem 0.8rem;
}

.text-input__input--size-medium {
	font-size: 1.6rem;
	line-height: 2.2rem;
	padding: 0.7rem 1rem;
}

.text-input__input--size-big {
	font-size: 1.8rem;
	line-height: 2.2rem;
	padding: 1.1rem 1.4rem;
}

.text-input__counter {
	font-size: 1.4rem;
	line-height: 1.6rem;
}
.text-input__counter--error {
	color: vars.$dangerColor-1;
}
