@use '@/styles/variables' as vars;

.video-with-subtitles {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.video-with-subtitles__video {
	position: sticky;
	top: 1rem;
	z-index: 3;
	border-radius: vars.$radius-2;
	overflow: hidden;
}

.video-with-subtitles__subtitles {
	flex: 1;
}
