/*.exercise-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	align-items: flex-start;
	container-type: inline-size;
}*/

/*.exercise-content__top {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}*/
