@use '@/styles/variables' as vars;

.analysis-sentence {
	position: relative;
	font-size: 2.4rem;
	line-height: 3.3rem;
}

.analysis-sentence__word {
	display: inline-block;
	cursor: pointer;
	padding: 0 .35rem;
	border-radius: vars.$radius-1;

	&:hover {
		background-color: vars.$grayColor-2;
	}
}

.analysis-sentence__punctuation {
	display: inline-block;
	margin-left: -.35rem;;
}
