.watching-root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.watching-root__no-video {
	height: 100%;
}
.watching-root__video-container {
	max-height: 50%;
}

.watching-root__no-text {
	height: 100%;
}
.watching-root__text-container {
	flex-grow: 1;
	display: flex;
	overflow: hidden;
}
