@use '@/styles/mixins' as mix;

.read-any-book__steps {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	margin-top: 2rem;

	@include mix.page-width(600px) {
		flex-direction: row;
	}
}

.main-page-header__description-text {
	font-size: 2.4rem;
	line-height: 3.2rem;
}

.read-any-book__books {
	width: 100%;
	margin-top: 2rem;
}
