@use '@/styles/variables' as vars;

.video-control-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3.2rem;
	min-width: 4.4rem;
	background-color: white;
	color: vars.$textColor;
	border-radius: 2rem;

	&:hover:not(:disabled), &:focus:hover:not(:disabled) {
		color: white;
		background-color: vars.$accentColor-2;
	}

	&--active {
		color: white;
		background-color: vars.$accentColor-2;
		border-color: vars.$accentColor-3;
	}
}
