@use "@/styles/variables" as vars;
@use "@/styles/mixins" as mix;

.translated-phrase-analysis {

}

.translated-phrase-analysis__top-block {
	font-size: clamp(3.4rem, 8vw, 5rem);
	line-height: clamp(3.8rem, 8vw, 5.4rem);

	& > *:nth-child(1) {
		margin-right: 1rem;
	}
	& > *:nth-child(2) {
		margin-right: 1rem;
	}
	& > *:nth-child(3) {
		margin-right: 1rem;
	}
}
.translated-phrase-analysis__top-block--long {
	font-size: clamp(2.8rem, 8vw, 4rem);
	line-height: clamp(3.2rem, 8vw, 4.4rem);
}

.translated-phrase-analysis__phrase-arrow {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: vars.$grayColor-3;
	width: .85em;
	height: .85em;
	border-radius: 50%;
	transform: translateY(-.09em);

	span {
		color: white;
		font-size: .5em;
		line-height: .5em;
		font-weight: 500;
		transform: translateY(-.06em);
	}
}

.translated-phrase-analysis__phrase-transcription {
	display: inline-block;
	font-size: .7em;
	line-height: 1em;
	color: vars.$grayColor-5;
	border: 1px solid vars.$grayColor-4;
	border-radius: vars.$radius-1;
	padding: .1em .1em;
}

.translated-phrase-analysis__content {
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
	font-size: 1.6rem;
	line-height: 2.7rem;
	margin-top: 1.4rem;

	@include mix.page-width(750px) {
		flex-direction: row;
		gap: 2.4rem;
	}
}
.translated-phrase-analysis__content-analysis {
	flex-basis: 50%;
}
.translated-phrase-analysis__content-examples {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex-basis: 50%;
	line-height: 2.5rem;
}
.translated-phrase-analysis__content-example {
	font-weight: 500;
}
.translated-phrase-analysis__content-example-native {
	font-weight: 300;
	color: vars.$grayColor-6;
}
