//@use '@/styles/variables' as vars;
//@use '@/styles/mixins' as mix;

/*.phrases-grammar {
	display: grid;
	gap: 1.2rem;
	margin-top: 0.4rem;
}*/

/*.phrase-grammar {
	display: grid;
	gap: 0.5rem;
	justify-items: start;
}*/

/*.phrase-grammar__header {
	display: inline-block;
	font-size: 1.5rem;
	line-height: 1.7rem;
	color: vars.$blueColor-2;
	font-weight: 500;
	background-color: vars.$blueColor-1;
	padding: 0.2rem 0.5rem;
	border-radius: vars.$radius-1;
}*/
