//@import '@/styles/variables';
//@import '@/styles/mixins';

/*.phrases-grammar {
	display: grid;
	gap: 1.2rem;
	margin-top: 0.4rem;
}*/

/*.phrase-grammar {
	display: grid;
	gap: 0.5rem;
	justify-items: start;
}*/

/*.phrase-grammar__header {
	display: inline-block;
	font-size: 1.5rem;
	line-height: 1.7rem;
	color: $blueColor-2;
	font-weight: 500;
	background-color: $blueColor-1;
	padding: 0.2rem 0.5rem;
	border-radius: $radius-1;
}*/
