@use "@/styles/variables" as vars;
@use '@/styles/mixins' as mix;

.exercises {
	padding: 1rem 1.6rem 2rem;
	border-radius: vars.$radius-2;
	border: 2px solid vars.$textColor;

	@include mix.container-width(vars.$tablet-width) {
		padding: 1.6rem 2.8rem 2.6rem;
	}
}

.exercises__content {
	display: flex;
	align-items: flex-start;
	gap: 4rem;
	margin-top: 1.4rem;

	@include mix.container-width(vars.$tablet-width) {
		margin-top: 2rem;
	}
}

.exercises__content__left {
	display: none;
	gap: 2rem;
	width: 40%;
	max-width: 32rem;

	@include mix.container-width(vars.$tablet-width) {
		display: grid;
	}
}
