//@use '@/styles/variables' as vars;
//@use '@/styles/mixins' as mix;
//@use '@/styles/inherit' as inh;

.videos-page-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

/*.videos-page-content__blocks {
	position: relative;
	display: block;

	@include mix.page-width(vars.$videos-desktop-width) {
		align-items: flex-start;
		display: flex;
		gap: 3rem;
	}
}*/

/*.videos-page-content__item {
	flex-grow: 1;
	display: none;

	@include mix.page-width(vars.$videos-desktop-width) {
		position: sticky;
		top: 1rem;
		left: 0;
		display: block;
		width: 33%;
	}
}*/
/*.videos-page-content__item--always-visible {
	display: block;
}*/

/*.videos-page-content__item--videos {
	@include mix.page-width(vars.$videos-desktop-width) {
		max-width: 280px;
	}
}*/

/*.videos-page-content__item--book {
	@include mix.page-width(vars.$videos-desktop-width) {
		max-width: 280px;
	}
}*/

/*.videos-page-content__item--chapter {

}*/


