@use '@/styles/variables' as vars;

.oauth {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border: 1px solid #ccc;
	border-radius: vars.$radius-2;
	padding: 2rem;
	margin-bottom: 2rem;
}

.oauth__buttons {
	display: flex;
	gap: 1rem;
}
