@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;
@use '@/styles/inherit' as inh;

.course-article-page-header {

}

.course-article-page-header__num {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: vars.$grayColor-3;
	height: 0.75em;
	min-width: 0.4em;
	padding: 0.04em 0.2em;
	border-radius: 0.4em;
}

.course-article-page-header__num-text {

	font-size: 0.7em;
	line-height: 0.7em;
	font-weight: 300;
	color: white;
}
