@use '../../../../styles/variables' as vars;
@use '../../../../styles/mixins' as mix;
@use '../../../../styles/inherit' as inh;

:root {
	// Стандартный размер шрифта в браузере 16 пикселей.
	// Поэтому 10 пикселей будет 62.5%.
	// Размер в процентах указывается для слабовидящих у которых в браузере стоит увеличенный шрифт.
	font-size: 62.5%;
}


@font-face {
    font-family: "Suisse";
    src: url("fonts/SuisseIntl-Regular.woff2") format("woff2");
    font-weight: 300;
}
@font-face {
    font-family: "Suisse";
    src: url("fonts/SuisseIntl-RegularItalic.woff2") format("woff2");
    font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "Suisse";
	src: url("fonts/SuisseIntl-Medium.woff2") format("woff2");
	font-weight: 400;
}
@font-face {
    font-family: "Suisse";
    src: url("fonts/SuisseIntl-MediumItalic.woff2") format("woff2");
    font-weight: 400;
	font-style: italic;
}
@font-face {
    font-family: "Suisse";
    src: url("fonts/SuisseIntl-SemiBold.woff2") format("woff2");
    font-weight: 600;
}
@font-face {
    font-family: "Suisse";
    src: url("fonts/SuisseIntl-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600;
	font-style: italic;
}
@font-face {
    font-family: "Suisse";
    src: url("fonts/SuisseIntl-Bold.woff2") format("woff2");
    font-weight: 700;
}
@font-face {
    font-family: "Suisse";
    src: url("fonts/SuisseIntl-BoldItalic.woff2") format("woff2");
    font-weight: 700;
	font-style: italic;
}
/*@font-face {
    font-family: "Suisse";
    src: url("./fonts/SuisseIntl-Black.woff2") format("woff2");
    font-weight: 900;
}*/

*:not(svg, g, path) {
	all: unset;
	display: revert;
    list-style: none;

	&:focus {
		outline: 4px solid rgba(vars.$linkColor-2, .25);
	}
}

html, body {
	//scrollbar-gutter: auto;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Suisse', sans-serif;
	font-display: swap;
	font-size: 1.6rem;
	line-height: 2.2rem;
	font-weight: 300;
	color: vars.$textColor;
	background: vars.$bg;
	min-height: 100dvh;
	max-width: vars.$max-page-width;
	margin: 0 auto;
	transition: background .5s ease-in-out;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


a {
	cursor: pointer;
}

.link {
	@include inh.link;
}
.link--current {
	@include inh.link--current;
}
