//@import 'styles/variables';
//@import 'styles/mixins';
//@import 'styles/inherit';

/*.loading-error-analysis {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	padding: 5rem 2rem;
	border: 1px dashed $grayColor-2;
	border-radius: $radius-1;
}*/
