//@use '@/styles/variables' as vars;

/*.content-link-wrapper {
	width: 100%;
	box-sizing: border-box;
	padding: 0.6rem 1.2rem;
	border: 1px solid transparent;
	border-radius: vars.$radius-1;
}*/

/*.content-link-wrapper--link {
	border-color: vars.$grayColor-2;
	transition: border-color 0.05s ease-in-out;

	&:hover {
		border-color: vars.$grayColor-5;
	}

	&:focus {
		border-color: vars.$accentColor-2;
	}
}*/

/*.content-link-wrapper--idle {
}*/
/*.content-link-wrapper--current {
	color: vars.$accentColor-2;
	background-color: white;
	border-color: vars.$accentColor-2;

	&:hover {
		border-color: vars.$accentColor-2;
	}
}*/
/*.content-link-wrapper--nested {
	background-color: white;
	border-color: vars.$grayColor-4;
}*/
