//@use '@/styles/variables' as vars;
//@use '@/styles/mixins' as mix;
//@use '@/styles/inherit' as inh;


/*.dictionary-word {

}*/

/*.dictionary-word__note {
	font-size: 0.7em;
	line-height: 1.1em;
	color: vars.$grayColor-3;
	padding: 0 0 0.4em 0;
}*/

/*.dictionary-word__text {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.8em;
	font-size: 1em;
	line-height: 1.2em;
}*/

/*.dictionary-word__eng {

}*/

/*.dictionary-word__rus {
	display: inline-block;
	color: vars.$grayColor-4;
}*/

/*.dictionary-word__transcription {
	display: inline-block;
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	line-height: 0.8em;
	background-color: vars.$grayColor-1;
	padding: 0.25em 0.3em;
	border-radius: vars.$radius-1;
}*/
