//@import 'styles/variables';
//@import 'styles/mixins';
//@import 'styles/inherit';

/*.generalWrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	@include page-width(600px) {
		width: 40%;
		max-width: 27rem;
	}
}*/

/*.partWrapper {
	display: flex;
	flex-direction: column;
	gap: .6em;
}*/

/*.partHeader {
	@include header-3();
}*/
