@use "@/styles/variables" as vars;

.chat-input__send-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 2.7rem;
	height: 2.7rem;
	background: vars.$textColor;
	border-radius: 50%;
	cursor: pointer;

	&:disabled {
		background: vars.$grayColor-3;
		cursor: not-allowed;
	}
}
