@use '@/styles/variables' as vars;

.subtitle-block {
	display: grid;
	gap: .3rem;
}

.subtitle-block__subtitle {
	font-size: 2.2rem;
	line-height: 3rem;
}
.subtitle-block__subtitle--current {
	color: vars.$linkColor-2;
}



