@use "@/styles/variables" as vars;
@use '@/styles/mixins' as mix;

.main-page-content-block {

}

.main-page-content-block__header {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 3.2rem;
	line-height: 3.8rem;
	font-weight: 600;
	margin-bottom: 2rem;

	@include mix.page-width(550px) {
		font-size: 4rem;
		line-height: 4.4rem;
	}

	@include mix.page-width(850px) {
		gap: 1.5rem;
		font-size: 5rem;
		line-height: 5.4rem;
	}
}

.main-page-content-block__num {
	align-self: baseline;
	font-size: 1.8rem;
	line-height: 2.2rem;
	font-weight: 300;
	text-align: center;
	color: white;
	background-color: vars.$textColor;
	box-sizing: border-box;
	min-width: 4.4rem;
	padding: 0.2rem .4rem;
	margin-top: .5rem;
	border-radius: 2rem;

	@include mix.page-width(550px) {
		font-size: 2rem;
		line-height: 2.4rem;
		min-width: 5.2rem;
		padding: 0.3rem .6rem;
		margin-top: .7rem;
	}

	@include mix.page-width(850px) {
		font-size: 2.4rem;
		line-height: 2.8rem;
		min-width: 6.4rem;
		padding: 0.6rem 1rem;
	}
}
