@use '@/styles/variables' as vars;

.chapter-link {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	width: 100%;
	padding: 0.6rem 1rem;
	border-radius: vars.$radius-1;

	&:hover {
		background-color: vars.$grayColor-1;
	}
}

.chapter-link--current {
	color: white;
	background-color: vars.$accentColor-2;

	&:hover {
		background-color: vars.$accentColor-2;
	}
}

.chapter-link__author {
	font-size: 1.4rem;
	line-height: 2rem;
}
.chapter-link__name {
	font-size: 2rem;
	line-height: 2.6rem;
}
