//@use '@/styles/variables' as vars;

/*.grammar-concept-links {
	margin-top: 0.5rem;
}*/

/*.grammar-concept-links__fetch-button {
	font-size: 1.4rem;
	color: vars.$linkColor-2;
	padding: 0.4rem 0;
}*/

/*.grammar-concept-links__list {
	display: flex;
	flex-wrap: wrap;
	gap: 0.4rem;
}*/

/*.grammar-concept-links__link {
	font-size: 1.4rem;
	color: vars.$linkColor-2;
	padding: 0.3rem 0.8rem;
	border: 1px solid vars.$linkColor-2;
	border-radius: vars.$radius-1;

	&--missing {
		color: vars.$textColor;
		border-color: vars.$textColor;
		opacity: 0.5;
	}
}*/
