//@import 'styles/variables';
//@import 'styles/mixins';
//@import 'styles/inherit';

/*.exercises-modal {
	flex-grow: 1;
	max-width: 95rem;
}*/

/*.exercises-modal__content {
	display: flex;
	flex-direction: column-reverse;
	gap: 5rem;

	@include page-width(600px) {
		flex-direction: row;
	}
}*/

