@import '@/styles/variables';
@import '@/styles/mixins';
@import '@/styles/inherit';

.generalWrapper {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;

	@include page-width(600px) {
		width: 40%;
		max-width: 27rem;
	}
}

.partWrapper {
	display: flex;
	flex-direction: column;
	gap: .2em;
}

.partHeader {
	@include header-4();
}
