@use "@/styles/variables" as vars;

.analysis {
	position: sticky;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-height: 50dvh;
	background-color: white;
	overflow: auto;
	margin-top: 2rem;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, .07);
}
