@use '@/styles/variables' as vars;

.watching-text-side {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.watching-text-side__content {
	flex-grow: 1;
	overflow: auto;
	padding: 1rem;
}

.watching-text-side__bottom {
	display: flex;
	justify-content: space-between;
	padding: .5rem;
	border-top: 1px solid vars.$grayColor-1;
}
.watching-text-side__bottom-buttons {
	display: flex;
	gap: 1rem;
}
