@use '@/styles/variables' as vars;

.content-link-wrapper {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 0.6rem 1rem;
	border-radius: vars.$radius-1;

	&:hover {
		background-color: vars.$grayColor-1;
	}
}

.content-link-wrapper--idle {
}

.content-link-wrapper--current {
	color: white;
	background-color: vars.$accentColor-2;

	&:hover {
		border-color: vars.$accentColor-2;
		background-color: vars.$accentColor-2;
	}
}

.content-link-wrapper--nested {
	border-color: vars.$accentColor-2;
}
