@use "@/styles/variables" as vars;

.exercises-type-switch {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 1.2rem;
}

.exercises-type-switch__item {
	font-size: 1.8rem;
	line-height: 2.2rem;
	font-weight: 600;
	user-select: none;

	&:focus {
		outline: none;
	}

	.art-arrow {
		width: 1.2em;
		height: 1.2em;
		transform: translateY(-2px);
		margin: 0 .5rem 0 0;
	}

	.exercises-type-switch__item-text {
		border-bottom: 1px dashed transparent;
		transition: border-bottom .2s;
	}
}

.exercises-type-switch__item--current {
	color: vars.$grayColor-3;
}

.exercises-type-switch__item--another {
	color: vars.$textColor;
	cursor: pointer;

	&:hover {
		.exercises-type-switch__item-text {
			border-bottom-color: vars.$grayColor-3;
		}
	}

	.art-arrow {
		display: none;
	}

	.exercises-type-switch__item-text {
		border-bottom-color: vars.$grayColor-2;
	}
}
