@use '@/styles/variables' as vars;
@use 'sass:color';

.book-link {
	container-type: inline-size;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.book-link__author {

}

/* Apply styles based on wrapper status classes, since modifiers aren't added in JSX */
.book-link__author--idle,
.book-link__author--nested {
	color: vars.$grayColor-5;
}

.book-link__author--current {
	color: color.change(vars.$accentColor-2, $alpha: 0.75);
}
