@use '@/styles/variables' as vars;

.chapter-text {
	font-size: 2rem;
	line-height: 1.6;
}

.chapter-text__word {
	display: inline-block;
	cursor: pointer;
	padding: 0 0.25em;
	border-radius: 0.22em;

	&:hover {
		background-color: vars.$grayColor-1;
	}
}
