@use '@/styles/variables' as vars;

.chapter-text {
	font-size: 2rem;
	line-height: 1.6;
}

.chapter-text__sentence {
}

.chapter-text__word {
	position: relative;
	display: inline-block;
	cursor: pointer;
	z-index: 2;
	border-radius: 0.22em;

	&:hover {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: -5px;
			bottom: 0;
			right: -5px;
			z-index: 1;
			border-radius: 0.22em;
			border: 1px solid vars.$grayColor-3;
		}
	}
}
