@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;

.book-and-prev-and-next-chapters {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 3rem;

	@include mix.page-width(630px) {
		flex-direction: row;
		justify-content: space-between;
		margin-top: 4rem;

		& > *:nth-child(2) {
			margin-left: auto;
		}
		& > *:nth-child(2), & > *:nth-child(3) {
			width: 200px;
		}
	}

	@include mix.page-width(800px) {
		& > *:nth-child(2), & > *:nth-child(3) {
			width: 230px;
		}
	}

	@include mix.page-width(850px) {
		& > *:nth-child(2), & > *:nth-child(3) {
			width: 250px;
		}
	}

	@include mix.page-width(1050px) {
		& > * {
			width: 270px;
		}
	}

}

.book-and-prev-and-next-chapters__container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.book-and-prev-and-next-chapters__link {
	display: flex;
	gap: 1.2rem;
	padding: 8px 12px;
	border: 1px solid vars.$grayColor-1;
	border-radius: 6px;

	&:hover, &:focus {
		border-color: vars.$grayColor-2;

		.book-and-prev-and-next-chapters__arrow-hr {
			background-color: vars.$grayColor-2;
		}

		.book-and-prev-and-next-chapters__arrow-container {
			img {
				opacity: 1;
			}
		}
	}

	&:focus {
		border-color: vars.$linkColor-2;
	}
}

.book-and-prev-and-next-chapters__small-text {
	font-size: 1.3rem;
	line-height: 1.7rem;
	color: vars.$grayColor-5;
}

.book-and-prev-and-next-chapters__text {
	font-size: 1.5rem;
	line-height: 2.1rem;
}

.book-and-prev-and-next-chapters__arrow-container {
	display: none;
	align-items: center;
	gap: 8px;

	@include mix.page-width(350px) {
		display: flex;
	}
	@include mix.page-width(630px) {
		display: none;
	}
	@include mix.page-width(780px) {
		display: flex;
	}

	img {
		opacity: .6;
	}
}
.book-and-prev-and-next-chapters__arrow-hr {
	width: 1px;
	height: 100%;
	background-color: vars.$grayColor-1;
}

