@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;

.book-and-prev-and-next-chapters {
	container-type: inline-size;
	margin-top: auto;
}

.book-and-prev-and-next-chapters__auto-height {
	margin-top: 3rem;
}

.book-and-prev-and-next-chapters__inner {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	@include mix.container-width(460px) {
		flex-direction: row;
		justify-content: space-between;
		margin-top: 4rem;

		& > *:nth-child(2) {
			margin-left: auto;
		}
		& > *:nth-child(2), & > *:nth-child(3) {
			width: 200px;
		}
	}
}

.book-and-prev-and-next-chapters__link {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	background-color: vars.$grayColor-1;
	padding: .6rem 1rem;
	border-radius: vars.$radius-1;

	&:hover, &:focus {
		background-color: vars.$grayColor-2;
	}

	&:focus {
		border-color: vars.$linkColor-2;
	}
}

.book-and-prev-and-next-chapters__small-text {
	font-size: 1.3rem;
	line-height: 1.9rem;
	color: vars.$grayColor-5;
}

.book-and-prev-and-next-chapters__text {
	font-size: 1.5rem;
	line-height: 2.1rem;
}
