//@use '@/styles/variables' as vars;
//@use '@/styles/mixins' as mix;

/*.no-word-selected-block {
	position: sticky;
	top: calc(50vh - 57px);
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: .8rem;
	justify-content: center;
	align-items: center;
	margin: auto;
}*/

/*.no-word-selected-block__text {
	font-size: 1.4rem;
	line-height: 2rem;
	color: vars.$grayColor-3;
	text-align: center;
}*/
