.ai-dialogue-page-parts-wrapper {
	display: flex;
	gap: 2rem;
	flex-grow: 1;
}

.ai-dialogue-page-parts-wrapper__left {
	display: flex;
	width: 60%;
}

.ai-dialogue-page-parts-wrapper__right {
	position: relative;
	min-width: 0;
	width: 40%;
}
