@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;

.reading-root {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	background: white;
	border-radius: vars.$radius-1;
	box-shadow: vars.$shadow-1;
}

.reading-root__chapter-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding: 1rem var(--reading-page-chapter-horizontal-padding);

	@media (min-width: 600px) {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}
