//@use '@/styles/variables' as vars;
//@use 'sass:color';

/*.media-link {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}*/

/*.media-link__info {
	font-size: 1.5rem;
	line-height: 2.1rem;
	opacity: 0.6;
}*/

/*.media-link__name {
	font-size: 2rem;
	line-height: 2.6rem;
}*/
