@use '@/styles/variables' as vars;

.hint-block {
	display: flex;
	gap: 3rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.hint-block--for-mouse {
	gap: 3rem;
}

.hint-block--for-touch {
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.hint-block__text-block {
	font-size: 1.4rem;
	line-height: 1.8rem;
}

.hint-block__hot-key {
	display: inline-block;
	border: 1px solid vars.$grayColor-3;
	border-radius: vars.$radius-1;
	padding: 0.2rem .5rem;
}
