@use '@/styles/variables' as vars;

.chapter-content {
	display: grid;
	gap: 1.2rem;
	font-size: 2.2rem;
	line-height: 3.4rem;
}

.chapter-content__sentence {
	display: grid;
}
.chapter-content__sentence--with-translation {
	margin-bottom: 1.2rem;
}

.chapter-content__details {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition:
		max-height 0.25s ease,
		opacity 0.25s ease,
		padding-top 0.25s ease,
		padding-bottom 0.25s ease;
}

.chapter-content__details--visible {
	max-height: 100rem;
	opacity: 1;
}

.chapter-content__separator {
	height: 1px;
	background: vars.$grayColor-2;
	margin-top: 1.2rem;
}

.chapter-content__word-analysis {
	margin-top: .9rem;
}

.chapter-content__sentence-translation {
	font-size: 1.8rem;
	line-height: 2.8rem;
	background: vars.$grayColor-1;
	padding: .6rem 1.2rem;
	margin-top: .6rem;
	border-radius: vars.$radius-2;
}

.chapter-content__word-loading {
	display: flex;
	gap: .6rem;
	font-size: 1.6rem;
	line-height: 2.2rem;
	color: vars.$grayColor-6;
	margin-top: .9rem;
}

.chapter-content__word-not-found {
	font-size: 1.6rem;
	line-height: 2.2rem;
	margin-top: .9rem;
}
