@use '@/styles/variables' as vars;

.sentence-chat {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	//padding-top: 1.8rem;
	//margin-top: 1.8rem;
}

.sentence-chat__messages {
	flex: 1 1 auto;
}

.sentence-chat__input {
	position: sticky;
	bottom: 1.4rem;
	border-radius: vars.$radius-2 vars.$radius-2 0 0;
}
