@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;
@use '@/styles/inherit' as inh;

.generalWrapper {

}

.note {
	@include inh.paragraph-small;
	color: vars.$grayColor-3;
}

.sentence {
	@include inh.paragraph-giant;
	margin-top: .2rem;

	&--gray {
		color: vars.$grayColor-3;
	}
}
