@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;
@use '@/styles/inherit' as inh;

.art-grid {
	column-gap: 2.5rem;
	row-gap: 2rem;

	@include mix.container-width(vars.$tablet-width) {
		column-gap: 3.5rem;
	}
}
