@use '@/styles/variables' as vars;

.public-book-info {

}

.public-book-info__cover {
	width: 100%;
	background-color: vars.$grayColor-3;
	overflow: hidden;
	border-radius: vars.$radius-2;
}

.public-book-info__text {
	font-size: 1.8rem;
	line-height: 2.8rem;
	margin-top: 1rem;
}

.public-book-info__text p {
	margin: 0;
}

.public-book-info__text p + p {
	margin-top: 1rem;
}

.public-book-info__actions {
	display: flex;
	justify-content: flex-end;
	margin-top: 2.5rem;
}
