@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;

.main-page-top {
	text-align: center;
	margin-top: 0;

	@include mix.page-width(400px) {
		margin-top: 1rem;
	}

	@include mix.page-width(700px) {
		margin-top: 4rem;
	}
	@include mix.page-width(1000px) {
		margin-top: 5rem;
	}
}

.main-page-top__header {
	font-size: clamp(4rem, 6.6vw, 7.4rem);
	line-height: clamp(4.4rem, 7.2vw, 7.8rem);
	font-weight: 700;
	color: vars.$accentColor-2;
}

.main-page-top__subheader {
	font-size: clamp(2rem, 7vw, 3.4rem);
	line-height: clamp(2.8rem, 7.8vw, 4rem);

	margin-top: 1rem;
}
