@use '@/styles/variables' as vars;

.speechless-bar {
	position: relative;
	height: 2px;
	width: 100%;
	margin: 4px 0;
	border-radius: 1px;

	&::before {
		position: absolute;
		content: '';
		top: -4px;
		left: 0;
		width: 10px;
		height: 10px;
		border-radius: 50%;
	}
}

.speechless-bar--active {
	background-color: vars.$linkColor-2;

	&::before {
		background-color: vars.$linkColor-2;
	}
}
