@use "@/styles/mixins" as mix;
@use '@/styles/variables' as vars;

.public-book-info {
	display: flex;
	gap: 2rem;
	flex-direction: column-reverse;

	@include mix.page-width(500px) {
		flex-direction: row;
	}

	@include mix.page-width(vars.$books-desktop-width) {
		flex-direction: column-reverse;
	}

	@include mix.page-width(1200px) {
		flex-direction: row;
	}
}

.public-book-info__left {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: .8rem;
}
.public-book-info__right {
	min-width: 200px;
	max-width: 300px;

	@include mix.page-width(600px) {
		min-width: 240px;
	}

	@include mix.page-width(1200px) {
		min-width: 200px;
	}
}

.public-book-info__author {
	font-size: 2.2rem;
	line-height: 2.8rem;
	font-weight: 500;
	font-style: italic;

	@include mix.page-width(1350px) {
		font-size: 2.6rem;
		line-height: 3.2rem;
	}
}

.public-book-info__header {
	font-size: 4rem;
	line-height: 4.8rem;
	font-weight: 700;
	font-style: italic;

	@include mix.page-width(1350px) {
		font-size: 5rem;
		line-height: 5.8rem;
	}
}

.public-book-info__description {
	font-size: 1.6rem;
	line-height: 2.7rem;
}

.public-book-info__cover {
	width: 100%;
	//max-width: 200px;
	border-radius: 4px;
	overflow: hidden;
}
