.page-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.page-bar__left {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 3rem;
}

.page-bar__right {
	display: flex;
	align-items: center;
	gap: 2rem;
}
