//@import '../../../../../styles/variables';
//@import '../../../../../styles/mixins';

/*.sentence-review {
	display: grid;
	gap: 0.3rem;
}*/

/*.sentence-review__big {
	font-size: 1.6rem;
	line-height: 2.4rem;
}*/

/*.sentence-review__normal {
	font-size: 1.4rem;
	line-height: 2.2rem;
	color: vars.$grayColor-4;
}*/
