@use '@/styles/variables' as vars;

.base-button {
	cursor: pointer;
	border: 1px solid transparent;
	transition: background-color .15s ease, color .1s ease, transform .2s ease;

	&:active {
		transform: scale(.97);
	}

	&:disabled {
		color: vars.$grayColor-3;
		cursor: not-allowed;
		background-color: vars.$grayColor-1;

		&:hover {
			color: vars.$grayColor-3;
			background-color: vars.$grayColor-1;
		}
	}

	&:focus {
		outline: 2px solid transparent;
		outline-width: 4px;
	}
}

.base-button--plain {

	&:hover {
		background-color: vars.$grayColor-1;
	}

	&:focus {
		border-color: vars.$grayColor-4;
		outline-color: vars.$grayColor-2;
	}

	&:hover:focus {
		background-color: white;
	}
}

.base-button--outline {
	border-color: vars.$grayColor-2;

	&:hover {
		border-color: vars.$grayColor-4;
	}

	&:focus {
		border-color: vars.$grayColor-4;
		outline-color: vars.$grayColor-2;
	}
}

.base-button--regular {
	color: vars.$textColor;
	background-color: vars.$grayColor-1;

	&:hover {
		color: white;
		background-color: vars.$accentColor-2;
	}

	&:focus {
		border-color: vars.$grayColor-5;
		outline-color: vars.$grayColor-3;
	}

	&:hover:focus {
		border-color: rgba(vars.$accentColor-2, .3);
		outline-color: rgba(vars.$accentColor-2, .3);
	}
}

.base-button--accent {
	color: white;
	background-color: vars.$accentColor-2;

	&:hover {
		color: white;
		background-color: vars.$textColor;
	}

	&:focus {
		outline-color: rgba(vars.$accentColor-2, .3);
	}

	&:hover:focus {
		outline-color: vars.$grayColor-2;
	}
}

.base-button--danger {
	color: vars.$dangerColor-1;
	background-color: vars.$dangerColor-4;

	&:focus {
		border-color: vars.$dangerColor-1;
		outline-color: vars.$dangerColor-2;
	}

	&:hover {
		color: white;
		background-color: vars.$dangerColor-1;
	}
}

.base-button--current {

	&:disabled {
		color: white;
		cursor: default;
		background-color: vars.$accentColor-2;
	}
}
