@use '@/styles/variables' as vars;
@use 'sass:color';

.video-link {
	container-type: inline-size;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

/* Apply styles based on wrapper status classes, since modifiers aren't added in JSX */
.video-link__author--idle,
.video-link__author--nested {
	color: vars.$grayColor-5;
}

.video-link__author--current {
	color: color.change(vars.$accentColor-2, $alpha: 0.75);
}
