@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;

.main-page-top {
	position: relative;
	text-align: center;
	word-break: normal;
	overflow-wrap: anywhere;
	max-width: 110rem;
	padding: 1rem 0 1rem 0;
	margin: 0 auto;

	@include mix.page-width(400px) {
		padding: 6rem 0 1rem 0;
	}

	@include mix.page-width(700px) {
		padding: 9rem 0 1rem 0;
	}

	@include mix.page-width(1000px) {
		padding: 12rem 0 1rem 0;
	}
}

.main-page-top__header {
	font-size: clamp(4rem, 6.6vw, 7.4rem);
	line-height: clamp(4.4rem, 7.2vw, 7.8rem);
	font-weight: 700;
}

.main-page-top__header-block {
	display: inline-block;
}

.main-page-top__subheader {
	font-size: clamp(2.2rem, 4vw, 3.4rem);
	line-height: 1.26;
	max-width: 60rem;
	margin: 1rem auto 0 auto;
}

.main-page-top__buttons {
	display: flex;
	justify-content: center;
	column-gap: 2rem;
	row-gap: 1rem;
	flex-wrap: wrap;
	margin-top: 2rem;

	@include mix.page-width(800px) {
		margin-top: 3.4rem;
	}
}

.main-page-top__button {
	display: flex;
	align-items: center;
	gap: .6rem;
	font-size: 1.8rem;
	line-height: 2.2rem;
	padding: .6rem 1.2rem .6rem .6rem;
	border-radius: 2rem;
}
.main-page-top__button--white {
	/*&:hover {
		background-color: vars.$grayColor-1;
	}*/
}
.main-page-top__button--accent {

}
