//@import 'styles/variables';
//@import 'styles/mixins';
//@import 'styles/inherit';

//$CN: art-faq;

/*.#{$CN} {
	background-color: $grayColor-1;
	padding: 1.2rem 1.6rem;
	border-radius: $radius-2;
}*/
