//@import 'styles/variables';
//@import 'styles/mixins';
//@import 'styles/inherit';

/*.generalWrapper {

}*/

/*.note {
	@include paragraph-small;
	color: $grayColor-3;
}*/

/*.sentence {
	@include paragraph-giant;
	margin-top: .2rem;

	&--gray {
		color: $grayColor-3;
	}
}*/
