//@import "../../../../styles/variables";

/*.factoid {
	display: flex;
	flex-direction: column;
	gap: .6rem;;
	background-color: white;
	padding: 1rem 1.4rem;
	border: 1px solid $grayColor-3;
	border-radius: $radius-2;
}*/

/*.date {
	font-size: 1.3rem;
	line-height: 1.6rem;
	color: $grayColor-3;
}*/

/*.text {

}*/

/*.linkParagraph {
	font-size: 1.3rem;
	line-height: 1.7rem;
}*/
