//@import 'styles/variables';
//@import 'styles/mixins';
//@import 'styles/inherit';

//$CN: art-note;

/*.#{$CN} {
	@include content-wrapper();

	&--gray {
		background-color: $grayColor-1;
	}

	&--yellow {
		color: white;
		background-color: $orangeColor-2;
	}
}*/
