@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;
@use '@/styles/inherit' as inh;

.art-arrow {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 1em;
	height: 1em;
	background-color: vars.$grayColor-3;
	margin: 0 .28em;
    border-radius: 50%;
	transform: translateY(-0.05em);
}

.art-arrow__text {
	font-size: .7em;
	line-height: .7em;
	color: white;
	transform: translateY(-0.04em);
}
