@use '@/styles/variables' as vars;

.chat-input {
	background: white;
	overflow: hidden;
	border: 1px solid vars.$grayColor-2;
	border-radius: vars.$radius-2;
}

.chat-input--focus {
	border-color: vars.$grayColor-5;
	outline: 3px solid vars.$grayColor-2;
}

.chat-input__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	padding: .6rem 1rem .8rem 1rem;
}

.chat-input__warning-message {
	font-size: 1.4rem;
	line-height: 1.8rem;
}

.chat-input__actions {
	display: flex;
	align-items: center;
	gap: .6rem;
}
