//@import "../../../../styles/variables";

/*.wrapper {
	display: inline-block;
	font-size: 1.3rem;
	line-height: 1.6rem;
	color: vars.$grayColor-4;
	padding: 2px 5px;
	border: 1px solid vars.$grayColor-4;
	border-radius: vars.$radius-1;
}*/
