@use 'variables' as vars;
@use 'mixins' as mix;
@use 'sass:color';

// ОБЩИЕ СТИЛИ ДЛЯ РАЗЛИЧНЫХ КОМПОНЕНТОВ.
// ОНИ БУДУТ ВКЛЮЧАТЬСЯ В КОНКРЕТНЫЕ КЛАССЫ

@mixin link() {
	color: vars.$linkColor-2;
	border-bottom: 1px solid rgba(vars.$linkColor-2, .2);
	transition: color .2s, border-bottom-color .2s;

	&:hover {
		color: color.adjust(vars.$linkColor-2, $saturation: 100%);
		border-bottom-color: rgba(vars.$linkColor-2, .35);
	}
}

@mixin link--current() {
	cursor: default;
	color: vars.$accentColor-2;
	border-bottom: none;

	&:hover {
		color: color.adjust(vars.$accentColor-2, $saturation: 100%);
		border-bottom-color: rgba(vars.$accentColor-2, .35);
	}
}

// Стиль обёртки заметки или обёртки блока с текстами тренировки упражнений
@mixin content-wrapper() {
	padding: 1.2rem 1.4rem;
	border-radius: vars.$radius-2;

	@include mix.container-width(vars.$tablet-width) {
		padding: 1.2rem 1.6rem;
	}

	@include mix.container-width(vars.$monitor-width) {
		padding: 1.2rem 2rem;
	}
}

