@import 'mixins';

$grayColor-1: #f6f6f9;
$grayColor-2: #E3E3E3;
$grayColor-3: #8E8E8E;
$grayColor-4: #646464;
$textColor: rgb(30, 30, 30);
$orangeColor-1: #FDF2E8;
$orangeColor-2: #FF630C;
//$blueColor-1: #DFEEFB;
$blueColor-2: #0076DE;
//$greenColor-1: #E1F3E4;
//$greenColor-2: #5A9E00;
//$greenColor-3: #008100;
//$redColor-2: #FF3900;

$tablet-width: 600px;
$monitor-width: 1000px;
$max-page-width: 1440px;

$radius-1: 4px;
$radius-2: 1rem;
//$radius-3: 2rem;

