$bg: #F6F6F9;
$grayColor-1: #F3F2EF;
$grayColor-2: #E4E3E1;
$grayColor-3: #C7C6C2;
$grayColor-4: #A3A2A0;
$grayColor-5: #6D6D6C;
$grayColor-6: rgb(90, 90, 90);
$textColor: rgb(30, 30, 30);
$accentColor-1: #FDF2E8;
$accentColor-2: #FF4D0C;
$linkColor-1: #DFEEFB;
$linkColor-2: #0076DE;
$dangerColor-1: #FF3900;
$dangerColor-2: #FFC6C6;
$dangerColor-3: #FFABAB;
$successColor-1: #DDE8DA;
$successColor-2: #c6ddc3;
$successColor-3: #6A9956;

$buttonGradient: linear-gradient(to bottom, white, $bg);

$tablet-width: 600px;
$monitor-width: 1000px;
$max-page-width: 1460px;

// Ширина страницы книг после которой показывается версия для монитора
$books-desktop-width: 800px;

// Ширина страницы книг после которой показывается версия для монитора
$videos-desktop-width: 600px;
$watching-desktop-width: 550px;

$radius-1: 0.6rem;
$radius-2: 1rem;

$shadow-1: 0 1px 2px rgba(0, 0, 0, .05);
$shadow-2: 0 5px 20px rgba(0, 0, 0, .08);
