$bg: #F6F6F9;
$grayColor-1: #F3F3F3;
$grayColor-2: #E3E3E3;
$grayColor-3: #C3C3C3;
$grayColor-4: #A0A0A0;
$grayColor-5: #737373;
$textColor: rgb(30, 30, 30);
$accentColor-1: #FDF2E8;
$accentColor-2: #FF630C;
$linkColor-1: #DFEEFB;
$linkColor-2: #0076DE;
$dangerColor-1: #FF3900;
$dangerColor-2: #FFC6C6;
$dangerColor-3: #FFABAB;

$buttonGradient: linear-gradient(to bottom, white, $bg);

$tablet-width: 600px;
$monitor-width: 1000px;
$max-page-width: 1460px;

$radius-1: 0.6rem;
$radius-2: 1rem;

