@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;
@use '@/styles/inherit' as inh;
@use '@/styles/text-inherit' as textInh;

.art-rus-to-eng {
	.art-arrow {
		margin: 0 .3em;
	}
}

.art-rus-to-eng__text {
	@include textInh.paragraph-16();

	&--size-small {
		@include textInh.paragraph-14();
	}
	&--size-normal {
		@include textInh.paragraph-16();
	}
	&--size-big {
		@include textInh.paragraph-18();
	}
	&--size-giant {
		@include textInh.paragraph-20();
	}
}

.art-rus-to-eng__pseudo-link {
	display: inline-block;
	cursor: pointer;
	user-select: none;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.25);
	transition: border-color 0.2s;

	&:hover {
		border-bottom-color: rgba(0, 0, 0, 0.4);
	}
}

.art-rus-to-eng__transcription {
	position: relative;
	display: none;
	flex-direction: column;
	justify-content: end;
	transition: height .2s cubic-bezier(0,.51,.7,.99), opacity .2s, margin-bottom .2s;

	height: 0;
	opacity: 0;

	& > * {
		position: absolute;
		left: 0;
		bottom: 0;
	}
}

.art-rus-to-eng__transcription--open {
	opacity: 1;
}
