@use "@/styles/variables" as vars;

.exercise-type-switch {
	display: grid;
	gap: .6rem;
}

.exercise-type-switch__item {
	font-size: 1.8rem;
	line-height: 2.2rem;
	font-weight: 600;
	user-select: none;

	&:focus {
		outline: none;
	}

	.art-arrow {
		width: 1.2em;
		height: 1.2em;
		transform: translateY(-2px);
		margin: 0 .7rem 0 0;
	}

	.exercise-type-switch__item-text {
		border-bottom: 1px dashed transparent;
		transition: border-bottom .2s;
	}
}

.exercise-type-switch__item--current {
	color: vars.$grayColor-3;
}

.exercise-type-switch__item--another {
	color: vars.$textColor;
	cursor: pointer;

	&:hover {
		.exercise-type-switch__item-text {
			border-bottom-color: vars.$grayColor-3;
		}
	}

	.art-arrow {
		visibility: hidden;
	}

	.exercise-type-switch__item-text {

		border-bottom-color: vars.$grayColor-2;
	}
}
