@use '@/styles/variables' as vars;

.media-card-button {
	display: block;
	overflow: hidden;
	width: 100%;
	border-radius: vars.$radius-1;
}

.media-card-button__cover {
	position: relative;
	aspect-ratio: 2 / 1.12;
	background-size: cover;
	background-position: center;
}

.media-card-button__cover-shelf {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	gap: .6rem;
	width: 100%;
	box-sizing: border-box;
	padding: 1rem;
}
.media-card-button__brick {
	display: flex;
	color: white;
	font-size: 1.4rem;
	line-height: 1.8rem;
	background-color:rgba(0, 0, 0, .25);
	backdrop-filter: blur(10px);
	border-radius: vars.$radius-1;
}
.media-card-button__brick--black {
	background-color: vars.$textColor;
}
.media-card-button__brick--with-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.media-card-button__brick-divider {
	width: 1px;
	background-color: rgba(255, 255, 255, .1);
}

.media-card-button__text-wrapper {
	display: flex;
	flex-direction: column;
	gap: .2rem;
}

.media-card-button__title {
	font-weight: 400;
}

.media-card-button__sub-title {
	opacity: .6;
}

.media-card-button--medium {
	.media-card-button__brick {
		gap: 5px;
		padding: 2px 7px;
	}

	.media-card-button__text-wrapper {
		padding: 1rem;
	}

	.media-card-button__title {
		font-size: 1.8rem;
		line-height: 2.4rem;
	}

	.media-card-button__sub-title {
		font-size: 1.4rem;
		line-height: 1.8rem;
	}
}

.media-card-button--small {
	.media-card-button__brick {
		gap: 3px;
		padding: 1px 4px;
	}

	.media-card-button__text-wrapper {
		padding: .7rem;
	}

	.media-card-button__title {
		font-size: 1.6rem;
		line-height: 2rem;
	}

	.media-card-button__sub-title {
		font-size: 1.3rem;
		line-height: 1.6rem;
	}
}
