@use '@/styles/variables' as vars;

.sentence-phrase-example {
	padding-left: 1.5rem;
}

.sentence-phrase-example__text {
	font-size: 1.8rem;
	line-height: 2.6rem;
}
.sentence-phrase-example__translate {
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: vars.$grayColor-6;
}
