@use '@/styles/variables' as vars;

.books-section-with-header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	width: 100%;
}

.books-section-with-header__title {

	font-size: 1.3rem;
	line-height: 2rem;
	text-transform: uppercase;
	color: vars.$grayColor-5;
	letter-spacing: 0.04em;
}
