//@import 'styles/variables';
//@import 'styles/mixins';

/*.translate {

}*/

/*.translate__rus {
	font-size: 2.8rem;
	line-height: 3.2rem;
}*/

/*.translate__explanation {
	font-size: 2.4rem;
	line-height: 3.0rem;
	font-style: italic;
	color: $grayColor-4;
}*/
