//@use '@/styles/variables' as vars;
//@use '@/styles/mixins' as mix;

/*.translate {

}*/

/*.translate__rus {
	font-size: 2.8rem;
	line-height: 3.2rem;
}*/

/*.translate__explanation {
	font-size: 2.4rem;
	line-height: 3.0rem;
	font-style: italic;
	color: vars.$grayColor-4;
}*/
