//@use '@/styles/variables' as vars;
//@use '@/styles/mixins' as mix;
//@use '@/styles/inherit' as inh;

/*.learn-by-heart-modal {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	font-size: 3rem;
}*/
