@use '@/styles/variables' as vars;

.phrase-analysis-error {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
}

.phrase-analysis-error__error-text {
	color: vars.$dangerColor-1;
}
