@use "@/styles/variables" as vars;
@use "@/styles/inherit" as inherit;

.details-block-wrapper {
	flex-grow: 1;
	background-color: vars.$grayColor-1;
	overflow: auto;
	padding: 1.5rem;
	border-radius: vars.$radius-2;
}

.details-block-wrapper--center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.details-block-wrapper--loading {
	@include inherit.loading-shimmer();
}

.details-block-wrapper__text {
	font-size: 16px;
	line-height: 24px;
	color: vars.$grayColor-5;
	text-align: center;
}
