@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;
@use 'sass:color';

.button {
	color: color.adjust(vars.$grayColor-4, $saturation: 20%);
	background-color: white;
	cursor: pointer;
	border: 1px solid color.adjust(vars.$grayColor-2, $saturation: 12%);
	transition: background-color .25s, border-color .25s, color .25s;

	&:hover {
		color: vars.$textColor;
		background-color: color.adjust(vars.$grayColor-1, $saturation: -100%);
		border-color: vars.$grayColor-3;
	}
}
