//@import '@/styles/variables';
//@import '@/styles/mixins';

/*.button {
	color: darken($grayColor-4, 20%);
	background-color: white;
	cursor: pointer;
	border: 1px solid darken($grayColor-2, 12%);
	transition: background-color .25s, border-color .25s, color .25s;

	&:hover {
		color: $textColor;
		background-color: desaturate($grayColor-1, 100%);
		border-color: $grayColor-3;
	}
}*/
