@use '@/styles/mixins' as mix;
@use '@/styles/variables' as vars;

.mobile-navigation {
	padding: 1rem;
	border-bottom: 1px solid vars.$grayColor-1;

	@include mix.page-width(vars.$watching-desktop-width) {
		display: none;
	}
}
