@use '@/styles/variables' as vars;

.prompt-textarea {
	display: block;
	font-size: 1.6rem;
	line-height: 2.4rem;
	resize: none;
	box-sizing: border-box;
	width: 100%;
	max-height: 17rem;
	overflow: auto;
	padding: .8rem 1rem .6rem 1rem;

	&::placeholder {
		font-style: italic;
		color: vars.$grayColor-4;
	}

	&:focus {
		outline: none;
	}
}
