@use '@/styles/variables' as vars;

.book-input {
	width: 100%;

	.text-input__label {
		font-size: 1.3rem;
		line-height: 1.5rem;
		color: vars.$grayColor-5;
		text-transform: uppercase;
		letter-spacing: 0.05rem;
	}

	.text-input__input {
		line-height: 2.2rem;
		padding: 0;
		border: none;
		border-bottom: 1px solid vars.$grayColor-1;
		transition: border-color ease-in-out .25s;

		&:hover {
			border-bottom-color: vars.$grayColor-2;
		}

		&:focus {
			outline: none;
			border-bottom-color: vars.$linkColor-2;
		}
	}
}

.book-input--big {
	.text-input__input {
		font-size: 3rem;
		line-height: 3.8rem;
	}
}
