@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;
@use '@/styles/inherit' as inh;

.exercises-correct-translations {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	@include inh.paragraph-giant;
}

.exercises-correct-translations__item {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
