name: Deploy to the develop server
on:
  push:
    branches:
      - books-pages-redesign

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Pull changes on server
        run: |
          ssh -o StrictHostKeyChecking=no root@217.26.27.139 << 'EOF'
            cd ~/sites/explain_dev

            git checkout books-pages-redesign
            git reset --hard
            git pull
          
            # Generate .env file
            echo "${{ secrets.ENV_FILE_DEV }}" > .env.serverdevelop
          
            # Copy env file to server folder because it needs for migrations
            cp .env.serverdevelop server/.env
          
            # Copy env file to face folder because it needs for getting oauth client id
            cp .env.serverdevelop face/.env

            docker compose -f docker-compose.server.develop.yml --env-file .env.serverdevelop down
            docker compose -f docker-compose.server.develop.yml --env-file .env.serverdevelop up --build -d
          EOF
