name: Deploy to the master server
on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Pull changes on server
        run: |
          ssh -o StrictHostKeyChecking=no root@217.26.27.139 << 'EOF'
            cd ~/sites/explain

            git checkout master
            git reset --hard
            git pull
          
            # Generate .env file
            echo "${{ secrets.ENV_FILE_MASTER }}" > .env.servermaster
          
            # Copy env file to server folder because it needs for migrations
            cp .env.servermaster server/.env
          
            # Copy env file to face folder because it needs for getting oauth client id
            cp .env.servermaster face/.env

            docker compose -f docker-compose.server.master.yml --env-file .env.servermaster down
            docker compose -f docker-compose.server.master.yml --env-file .env.servermaster up --build -d
          EOF
